<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css">
</head>
<header>
    <div id="logo-container">
        <link
                rel="icon"
                type="image/x-icon"
                href="<%= site.components.header.logo %>"
        >

    </div>

    <h1><%= site.components.header.tagline %></h1>
</header>
