<!-- views/partials/header.ejs -->
<header>
    <div id="logo-container">
        <img
                src="<%= site.components.header.logo %>"
                alt="FutureNet Telecom Solutions Inc. Logo"
        >
    </div>

    <h1><%= site.components.header.tagline %></h1>
</header>
