// Footer Styles
@use 'variables';

// Footer Styles
footer {
  background-color: variables.$background-color;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: auto;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

footer ul li a {
  color: variables.$link-color;
}

footer p {
  font-size: 0.9rem;
  color: variables.$secondary-color;
}